/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Vendor-prefixed and regular ::selection selectors cannot be combined:
* https://stackoverflow.com/a/16982510/7133471
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    }

/*
* Allow only vertical resizing of textareas.
*/

textarea {
    resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */
html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}

/** Global **/
body {
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}
h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
}
h2::after {
    content: '';
    display: block;
    background-image: url(../img/separador.png);
    width: 10rem;
    height: 3rem;
    margin: 0 auto;
}
h4 {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #fe4918;
    padding-bottom: 1rem;
    font-size: 1.7rem;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/** Utilites **/
.container {
    width: 97%;
    margin: 0 auto;
}
@media (min-width: 480px) {
    .container {
        width: 95%;
    }
}
@media (min-width: 768px) {
    .container {
        width: 92%;
    }
}
@media (min-width: 992px) {
    .container {
        width: 90%;
        max-width: 1100px;
    }
}
.section {
    padding: 3rem 0;
}
.section p {
    font-size: 1.7rem;
    text-align: center;
}
.button {
    background-color: #fe4118;
    color: white;
    padding: 1rem 3rem;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    border-radius: 0.3rem;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    text-align: center;
    transition: all .3s ease;
    line-height: 2.3;
    border: 2px solid #fe4118;
}
@media (min-width: 480px) {
    .button {
        display: inline;
    }
}
.button:hover {
    background-color: #e33000;
    color: white;
    border: 2px solid #e33000;
}
.number {
    font-size: 9rem !important;
    margin: 0;
    color: #fe4118;
    font-family: 'Oswald', sans-serif;
}
.parallax::before {
    content: '';
    background-color: #00000056;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/** Header **/
.hero {
    background-image: url(../img/encabezado.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
}
.social-networks {
    text-align: center;
}
.social-networks a {
    color: white;
    margin-right: 2rem;
    font-size: 2.5rem;
}
.social-networks a:last-child {
    margin-right: 0;
}
.hero-text {
    color: white;
    text-align: center;
}
.event-info {
    display: flex;
    justify-content: space-between;
}
.event-info p {
    margin: 0;
    display: inline;
    font-size: 1.5rem;
}
@media (min-width: 480px) {
    .event-info p {
        font-size: 2rem;
    }
}
.event-info p i {
    color: #fe4918;
    font-size: 3rem;
}
.hero-text {
    width: 70%;
    margin: 2rem auto;
}
.hero-text h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 10vw;
    text-transform: uppercase;
    margin: 1rem 0;
    line-height: 0.9;
}
.hero-text h1 span {
    display: inline-block;
    position: relative;
}
.slogan {
    font-size: 1.5rem;
    margin: 5rem 0 0 0;
}
@media (min-width: 550px) {
    .slogan {
        font-size: 2rem;
    }
}
@media (min-width: 768px) {
    .slogan {
        font-size: 2.5rem;
    }
}
.slogan span {
    font-weight: bold;
}

/** Bar **/
.bar {
    background-color: #353535;
}
.marker {
    border-bottom: 2px solid #e33000;
}
nav.main-nav .marker-white {
    text-decoration: underline  white!important;
}
.flex-bar {
    text-align: center;
}
@media (min-width: 768px) {
    .flex-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
@media (min-width: 768px) {
    .logo-bar {
        text-align: start;
        flex-basis: 40%;
        margin: 10px 0;
    }
}
.logo-bar img {
    width: 80%;
    float: left;
}
.mobile-menu {
    float: right;
    width: 10%;
}
@media (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
.mobile-menu::after {
    font-family: 'fontAwesome';
    content: '\f0c9';
    color: white;
    font-size: 4rem;
    margin-right: .75rem;
}
@media (min-width: 500px) {
    .mobile-menu::after {
        font-size: 5rem;
        margin-right: 0;
    }
}
@media (min-width: 600px) {
    .mobile-menu::after {
        font-size: 5.5rem;
    }
}
.main-nav {
    display: none;
    float: center;
    width: 100%;
}
@media (min-width: 768px) {
    .main-nav {
        display: inline!important;
        text-align: end;
        flex-basis: 60%;
    }
}
.main-nav a {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 1rem;
    transition: all 0.4s ease;
    border-radius: 0.3rem;
    width: 100%;
    text-align: center;
    margin: 1rem 0;
}
@media (min-width: 768px) {
    .main-nav a {
        font-size: 1.55rem;
        display: inline;
        width: 25%;
    }
}
@media (min-width: 950px) {
    .main-nav a {
        font-size: 2rem;
    }
}
.main-nav a:first-child {
    margin-top: 1.5rem;
}
.main-nav a:last-child {
    color: #fe4118;
}
@media (min-width: 768px) {
    .main-nav a:last-child {
        border: 2px solid #fe4118;
        color: #fe4118;
    }
}
.main-nav a:last-child:hover {
    color: white;
}
.main-nav a:hover {
    background-color: #fe4118;
}


/** Program Event **/
.program {
    position: relative;
}
.program-content {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
.video-container {
    max-width: 100%; 
    height: 120vh;
    overflow: hidden;
}
@media (min-width: 1182px) {
    .video-container {
        height: unset;
    }
    .video-container video{
        width: 100%;
    }
}
.program-event {
    background-color: #ffffffd0;
    padding: 1rem;
    margin-top: 0.5rem;
}
@media (min-width: 1210px) {
    .program-event {
        margin-top: 2rem;
    }
}
@media (min-width: 768px) {
    .program-event {
        width: 70%;
    }
}
@media (min-width: 992px) {
    .program-event {
        width: 50%;
    }  
}
.program-menu {
    border-bottom: 2px solid #fe4118;
    cursor: pointer;
}
.program-menu a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 1rem 0;
    font-size: 2.3rem;
    font-family: 'Oswald', sans-serif;
    flex: 1;
    text-align: center;
    transition: all .5s ease;
    border-radius: 0.5rem 0.5rem 0 0;
}
.program-menu a:hover {
    background-color: #ececec!important;
}
@media (min-width: 768px) {
    .program-menu {
        display: flex;
        justify-content: space-evenly;
    }
}
.program-menu i,
.details-event i {
    color: #fe4118;
    margin-right: 1rem;
}
.program-menu a i {
    font-size: 2.5rem;
}
#talleres {
    opacity: hide;
}
#conferencias {
    opacity: hide;
    display: none;
}
#seminarios {
    opacity: hide;
    display: none;
}
.bord-bot {
    border-bottom: 2px solid #fe4918;
}
.bord-bot p:last-child {
    margin-bottom: 2rem;
}
.details-event h3 {
    font-size: 1.8rem;
    color: #fe4118;
}
.details-event p {
    margin: 2rem 0 0 2rem;
    font-size: 1.5rem;
}
.details-event p i {
    font-size: 1.8rem;
}
.button-event {
    display: block;
    margin: 4rem 0 0 0;
}
@media (min-width: 480px) {
    .button-event {
        margin: 3rem 0 .25rem 0;
        text-align: end;
    }
}

/** Guests **/
.section-guests {
    margin-top: 12rem;
}
@media (min-width: 480px) {
    .section-guests {
        margin-top: 7rem;
    }
}
@media (min-width: 768px) {
    .section-guests {
        margin-top: 0;
    }
}
.guests-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.guests-list li {
    flex: 0 0 calc(50% - 1rem);
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;
}
@media (min-width: 768px) {
    .guests-list li {
        flex: 0 0 calc(33% - 1rem);
    }
}
.guest img {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}
@media (min-width: 768px) {
    .guest img {
        -webkit-filter: grayscale(1);
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }
}
.guest:hover img {
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.1);
}
.guest p {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0.3rem 0.5rem;
    background-color: #0000008c;
    width: 100%;
    text-align: left;
    color: #fe4918;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
@media (min-width: 768px) {
    .guest p {
        font-size: 2rem;
        padding: 1rem 2rem;
    }
}
.guest:hover p {
    bottom: -5rem;
    opacity: 0;
}
@media (min-width: 768px) {
    .guest:hover p {
        bottom: 0;
        opacity: 1;
        background-color: #00000050;
        font-size: 1.6rem;
        padding: 0.2rem 0.5rem;
        transition: all 0.7s ease;
    }
}
@media (min-width: 1215px) {
    .guest:hover p {
        width: 44%;
        font-size: 1.6rem;
        padding: 0.4rem 1rem;
    }
}

/** Accountant **/
.accountant {
    background-image: url(../img/bg-resumen.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.summary-event {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    height: 35rem;
}
@media (min-width: 768px) {
    .summary-event {
        grid-template-columns: repeat(4, 1fr);
    }
}
.summary-event li {
    align-self: center;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
    color: white;
    text-transform: uppercase;
}

/** Price **/
.price-list {
    width: 80%;
    min-width: 34rem;
}
@media (min-width: 480px) {
    .price-list {
        width: 60%;
    }
}
@media (min-width: 768px) {
    .price-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        width: 100%;
    }
}
.price-table {
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #e1e1e1;
    transition: all .3s ease;
    margin-bottom: 2rem;
}
.price-table:hover {
    transform: scale(1.05);
    box-shadow: #868686 0rem 0rem 1rem 0.5rem;
}
.price-table h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
    margin: 2.5rem 0 0 0;
    text-align: center;
    color: #fe4918;
    text-transform: uppercase;
}
.price-table p {
    margin-bottom: 1rem;
    color: black;
}
.ticks li {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    font-size: 1.3rem;
    color: #575757;
    text-align: center;
}
.ticks li::before {
    font-family: 'fontAwesome';
    content: '\f00c';
    color: green;
    font-size: 1.5rem;
    padding-right: 0.5rem;
}
.button-price {
    display: inline-block;
    line-height: 1.5;
    margin: 2rem 0 4rem 0;
}
.hollow {
    background-color: white;
    color: #fe4118;
}

/** Map **/
.map {
    height: 42rem;
    border-top: 2px solid #e1e1e1;
    border-bottom: 2px solid #e1e1e1;
}
.map iframe {
    width: 100%;
    height: 100%;
}

/** Testimonial **/

.testimonial-grid {
    width: 70%;
    min-width: 34rem;
    margin: 0 auto;
    transition: all 0.5 ease;
}
@media (min-width: 480px) {
    .testimonial-grid {
        width: 50%;
    }
}
@media (min-width: 768px) {
    .testimonial-grid {
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        column-gap: 2rem;
        width: 100%;
    }
    .t1 {
        grid-column: 1 / 3;
    }
    .t2 {
        grid-column: 3 / 5;
    }
    .t3 {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }
    .testimonial{
        max-width: 34.5rem;
        margin: 0 auto;
    }
}
@media (min-width: 1070px) {
    .testimonial-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .testimonial {
        grid-column: unset;
        grid-row: unset;
    }
}
.testimonial {
    width: 100%;
}
.testimonial blockquote {
    background-color: white;
    position: relative;
    border: 2px solid #e1e1e1;
    padding: 1.2rem;
    width: 100%;
    margin: 0 0 5rem 0;
}
.testimonial header img {
    float: left;
    border-radius: 50%;
    width: 20%;
}
.testimonial header cite {
    float: left;
    font-size: 1.5rem;
    margin: 1rem 0 0 1rem;
    color: #fe4118;
    font-weight: bold;
    text-transform: uppercase;
}
.testimonial header cite span {
    display: block;
    text-transform: none;
    color: black;
    font-weight: normal;
    font-size: 1.3rem;
}
.testimonial blockquote p {
    font-family: 'PT Sans', sans-serif;
    text-align: justify;
    padding: 2rem  1rem 1rem 7rem;
    margin: 0;
}
.testimonial blockquote p::before {
    content: '\201c';
    position: absolute;
    font-size: 15rem;
    left: 1.5rem;
    top: 5.2rem;
    color: #fe4118;
}
@media (min-width: 480px) {
    .testimonial blockquote p::before {
        left: 1.5rem;
        top: 5.5rem;
    }
}
@media (min-width: 768px) {
    .testimonial blockquote p::before {
        top: 5.8rem;
    }
}

/** Newsletter **/
.newsletter {
    background-image: url(../img/bg-newsletter.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.content-news {
    position: relative;
    text-align: center;
    color: white;
}
.content-news p {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 5rem 0 0 0;
}
.content-news h3 {
    font-size: 8vw;
    margin: 2rem 0;
    text-transform: uppercase;
}
.transparent {
    background-color: transparent;
    border: 2px solid white;
}

/** Countdown **/
.countdown ul {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
.countdown ul li {
    align-self: center;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
    color: black;
    text-transform: uppercase;
}

/** Footer **/
.main-footer {
    background-color: #353535;
    color: white;
}
.main-footer section {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0;
}
.main-footer section div {
    flex-basis: calc(33.3% - 2rem);
}
.main-footer section h3 {
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin: 0;
}
.main-footer section p {
    font-size: 1.15rem;
}
.main-footer section h3 span {
    color: #fe4118;
}
.sn-footer {
    text-align: left;
    margin-top: 1rem;
}
.copyright {
    background-color: #2e2e2e;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.2rem 0;
    margin: 0;
}


/*** - Internal - ***/

/** Conferencia **/
.galery {
    text-align: center;
}
.galery a {
    text-decoration: none;
}
.galery a img {
    margin: .35rem;
    border: 1.5px solid rgb(201, 201, 201);
    border-radius: .5rem;
}

/* Calendario */
.calendar h3 {
    font-size: 2.5rem;
    color: white;
    background-color: #fe4118;
    padding: 1rem 1rem;
    margin: 0 .3rem;
    border-radius: 1rem;
    text-align: center ;
    max-width: 106.2rem;
}
@media (min-width: 480px) {
    .calendar h3 {
        border-radius: 0;
        border-top-left-radius:  1rem;
        border-top-right-radius:  1rem;
    }
}
@media (min-width: 1200px) {
    .calendar h3 {
        margin: 0 auto;
    }
}
.calendar h3 i {
    font-size: 3rem;
}
.flex-day {
    margin-bottom: 7rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.day {
    background-color: white;
    border: 1px solid #d6d6d6;
    margin: 1rem .3rem;
    padding: .5rem;
    max-width: 28rem;
    flex: 1 0 100%;
}
@media (min-width: 480px) {
    .day {
        flex: 1 0 48%;
        transition: all .3s ease;
        margin: 0rem .3rem .6rem .3rem;
        max-width: 35rem;
    }
}
@media (min-width: 768px) {
    .day {
        flex: 1 0 30%;
        transition: all .3s ease;
    }
    .day:hover {
        background-color: #d6d6d6;
        -webkit-transform: scale(1.03);
    }
}
.day i {
    color: #fe4118;
}
.title {
    color: #fe4118;
    text-transform: uppercase;
    font-weight: bold;
}


/* Registro */
.caja {
    background-color: white;
    border: 1px solid #e1e1e1;
    border-radius: 0.5rem;
    padding: 1rem;
}
.register h3 {
    text-align: center;
    text-transform: uppercase;
    margin: 4rem 0 1rem 0;
    font-size: 2.4rem;
    color: #fe4918;
}
.register label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.25rem;
}
.register input,
.register select {
    border: 1.75px solid #929292;
}
/*h4 modified in global*/
.register .camp input {
    font-size: 1.25rem;
    padding-left: .75rem;
    border-radius: .75rem;
    background-color: #f1f1f1;
    border: 1.75px solid #929292; 
}
@media (min-width: 768px) {
    .user-date {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .register .camp {
        flex-basis: 33.3%;
        text-align: center;
        padding: 1.5rem 0;
    }
    .price-table h3 {
        height: 6rem;
    }
}
#error,
#errorMail {
    display: none;
    flex-basis: 100%;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
}
.packs .price-table:hover {
    transform: none;
    box-shadow: #868686 0rem 0rem 0.4rem 0.1rem;
    border-color: #fe4218b4;
}
.packs .price-table input {
    clear: both;
    width: 7rem;
    margin: 1rem auto 3rem auto;
    display: block;
}
.price-table .order input {
    margin: 2rem auto;
    width: 9rem;
    height: 2.5rem;
    font-size: 2rem;
    text-align: center;
    border-radius: .75rem;
    background-color: #f1f1f1;
}
.contenido-dia {
    padding: 2rem;
    display: none;
}
@media (min-width: 768px) {
    .contenido-dia {
        float: left;
        width: 33.3%;
    }
}
.contenido-dia > div p {
    text-align: left;
}
.contenido-dia > div label {
    display: block;
    margin-bottom: 1rem;
    font-weight: 600;
}
.contenido-dia > div input {
    margin-right: 0.6rem;
    color: #575757;
}
.contenido-dia > div label time {
    color: #fe4918;
    font-weight: bold;
}
.resumen .extras {
    float: left;
    width: 70%;
    padding: 3rem;
}
.resumen .total {
    float: left;
    width: 30%;
}
.resumen .total > p {
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 4rem;
    text-align: left;
}
.extras .orden {
    text-align: left;
    margin-bottom: 1.5rem;
}
.extras .orden input,
.extras .orden select {
    display: block;
    margin: 1rem 0 0 0;
    width: 15rem;
    height: 2.5rem;
    font-size: 2rem;
    text-align: center;
    border-radius: .75rem;
    background-color: #f1f1f1;
}
.extras .orden select {
    margin: 4rem 0;
    height: 3rem;
    width: 25rem;
    font-size: 1.8rem;
}
.total input {
    display: block;
    margin: 4rem auto;
}
.total #lista-productos,
.total span {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: left;
}
.total span {
    font-size: 2.2rem;
}

/* Invitados */
#cboxLoadedContent {
    background-color: #f1f1f1;
    text-align: center;
}
#cboxLoadedContent p {
    width: 90%;
    margin: 3rem auto;
    padding-bottom: 1.2rem;
    font-size: 1.6rem;
}
@media (min-width: 480px) {
    #cboxLoadedContent p {
        width: 70%;
    }
}

/* Validation */
section p.total-validate {
    font-size: 3rem;
    font-weight: 500;
    color: #e33000;
}

/* Payment_completed */
.result {
    color: white;
    margin: 0 auto;
    padding: 1rem 2rem;
    border-radius: .5rem;
    width: 93%;
    max-width: 40rem;
}
@media (min-width: 500px) {
    .result {
        width: 80%;
    }
}
@media (min-width: 800px) {
    .result {
        width: 50%;
    }
}
.result p {
    margin: 0;
    line-height: 2;
}
.success {
    background-color: rgba(0, 128, 0, 0.85);
}
.error {
    background-color: rgba(255, 0, 0, 0.85);
}











/* ==========================================================================
Helper classes
========================================================================== */

/*
* Hide visually and from screen readers
*/

.hidden {
    display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
    Print styles.
    Inlined to avoid the additional HTTP request:
    https://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
        * Don't show links that are fragment identifiers,
        * or use the `javascript:` pseudo protocol
        */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
        * Printing Tables:
        * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
        */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}

